{% extends "layout.html" %}
{% block container %}
<section class="row">
    <nav class="left span3">
        <div>
            <h2>List algorithms</h2>
            <ul>
                <li><a href="/algorithms/kruskal" title="">Kruskal</a></li>
                <li><a href="/algorithms/dijkstra" title="">Dijkstra</a></li>
            </ul>
        </div>
        <div>
            <h4 class="tweet_me_left">
                To report a bug or just to say hello
                <a href="https://twitter.com/intent/tweet?screen_name=zizzamia" class="twitter-mention-button" 
                data-related="zizzamia">Tweet to @zizzamia</a>
                <script>
                !function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){
                        js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                }(document,"script","twitter-wjs");
                </script>
            </h4>
        </div>
    </nav>
    <div class="right span8">
        <header class="head_algorithms">
            <section class="row">
                <h1>Algorithms</h1>
                <p>The algorithms were developed in JavaScript and Canvas</p>
            </section>
        </header>
        <div class="content_algorithm">
            {% block content_algorithm %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}