{% extends "layout.html" %}
{% block container %}
<section class="row">
    <nav class="left span3">
        <div>
            <h2>List algorithms</h2>
            <ul>
                <li>Fastest Way</li>
                <li>Recursive-AS</li>
                <li>Dynamic 0 1 Knapsack</li>
                <li>Kruskal</li>
                <li>Prim</li>
                <li>Bellman Ford</li>
                <li><a href="/algorithms/dijkstra" title="">Dijkstra</a></li>
                <li>Floyd Warshall</li>
                <li>Johnson</li>
            </ul>
        </div>
    </nav>
    <div class="right span8">
        <header>
            <section class="row">
                <h1 class="title">Algorithms</h1>
                <p class="Ptitle">The algorithms were developed in Object-oriented JavaScript and Canvas, by Leonardo Zizzamia.</p>
            </section>
        </header>
        <div id="twitter">
        </div>
    </div>
</section>
{% endblock %}
