{% extends "layout.html" %}
{% block container %}
<section class="row">
  <nav class="left span3">
    <div>
      <h2>Projects</h2>
      <ul>
        <li>
          <a href="http://opentaste.co/" 
          title="A social network to create and world-sharing your recipes">
            Opentaste.co
          </a>
        </li>
        <li>
          <a href="http://zizzamia.com/ng-tasty/" 
          title="A lightweight, flexible, and tasty collection of reusable UI
           components for AngularJS, like grandma used to make.">
            #ngTasty
          </a>
        </li>
        <li>
          <a href="http://www.flightpooling.com/" title="Flightpooling | to fly to share to travel.">
            Flightpooling
          </a>
        </li>
        <li>
          <a href="http://opentaste.github.io/tiramisu/" title="A tasty JavaScript µLibrary">
            <img src="/img/tiramisu.png" alt="A tasty JavaScript µLibrary" />
            Tiramisu.js
          </a>
        </li>
        <li>
          <a href="https://github.com/Opentaste/bombolone" title="A tasty Content Management System 
          for Python based on Flask, MongoDB, Tiramisu">
            <img src="/img/bombolone.png" alt="" />
            Bombolone
          </a>
        </li>
        <li>
          <a href="/algorithms/" title="The algorithms are developed in Javascript, Canvas and a bit of CoffeeScript">
            <img src="/img/algorithms_40.png" alt="" />
            Algorithms.js
          </a>
        </li>
        <li>
          <a href="https://github.com/Zizzamia/zizzamia.com" title="My personal website in Node.js and CoffeeScript.">
            <img src="/img/zizzamia_logo_23.png" alt="">
            Zizzamia.com
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Contacts</h2>
      <ul>
        <li><a href="https://github.com/Zizzamia" title="">Github</a></li>
        <li><a href="https://twitter.com/#!/zizzamia" title="">Twitter</a></li>
        <li><a href="http://www.linkedin.com/pub/leonardo-zizzamia/22/8a9/97" title="">Linkedin</a></li>
        <li><a href="https://www.facebook.com/lzizzamia" title="">Facebook</a></li>
      </ul>
    </div>
  </nav>
  <div class="right span8">
    <header>
      <section class="row">
        <div class="left span2">
          <img src="{{ profile_image }}" alt="">
        </div>
        <div class="right span6">
          <h1>Leonardo Zizzamia</h1>
          <p>
            Software Engineer at 
            <a href="https://twitter.com/Zizzamia" title="">Twitter</a>, San Francisco CA.</p>
          <p>
            Creator of 
            <a href="http://opentaste.eu/" title="A social network to create and world-sharing your recipes">Opentaste.eu</a>
          </p>
        </div>
      </section>
    </header>
    <div class="twitter" style="position:relative;">
    </div>
  </div>
</section>
{% endblock %}

{% block js_code %}
<script>
var timeline_json;

t.get(document).ready(function(){
    t.ajax({
        url : '/timeline',
        loader : '<img src="/img/loader.gif" alt="" />',
        success : function(timeline){
            timeline_json = t.json.decode(timeline);
            print_tweet(0);
        }
    });
})

function print_tweet(num){
    
    var tweet = timeline_json[num];
    num += 1;
    
    var text = tweet.text,
        media = tweet.media,
        float_div = 'left',
        left_position = 0,
        right_position = 0;
    
    var last_left_tweet = t.get('.twitter .left ').pop();
    var last_right_tweet = t.get('.twitter .right ').pop();
    
    if (last_left_tweet) {
        left_position = last_left_tweet.offsetHeight + last_left_tweet.offsetTop;
    } 
    if (last_right_tweet){
        right_position = last_right_tweet.offsetHeight + last_right_tweet.offsetTop;
    }
    
    if(left_position > right_position){
        float_div = 'right';
    }
    
    tweet = '<div class="'+float_div+' picture_tweet">';
    if (media){
        tweet += '<img src="'+media+'" ';
        if (timeline_json[num]) {
            tweet += 'onload="print_tweet('+num+');"';
        }
        tweet += ' alt="" title="" />';
    }
    tweet += '<p>'+text+'</p></div>';
    t.get('.twitter').append(tweet);
    
    if (timeline_json[num] && !media) {
        print_tweet(num);
    }
}
</script>
{% endblock %}