<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    
    <title>{{  title }}</title>
    <meta name="description" content="{{ description }}">
    
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="/css/style.css?126">
    <link href='/favicon/favicon.ico' rel='shortcut icon' />
    
    <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
    
    <div class="magic_piano">
    </div><!-- .magic_piano -->
    
    <div class="container">
        {% block container %}
        {% endblock %}
    </div><!-- .container -->
    
    <footer>
        Copyright 2012 <a href="http://www.zizzamia.com">zizzamia.com</a> All rights reserved.
    </footer>
    
    <!-- JavaScript at the bottom for fast page loading -->
	<script src="/js/libs/tiramisu-0.1.7-b2-min.js"></script>
	{% block js_script %}{% endblock %}
    
    <!-- scripts javascript -->
    {% block js_code %}{% endblock %}
    
    <!-- Asynchronous Google Analytics -->
    <script>
        var _gaq=[['_setAccount','UA-19086315-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>